<section class="accordion">
  <h2 class="accordion-header">
    {{this.accordionHeadline}}
  </h2>
  <div class="container">
    <div class="accordion-wrapper">
      {{#each this.accordionItem ~}}
        <div class="accordion-item">
          <div class="accordion-question">
            <h6>{{this.accordionQuestion}}</h6>
            <span role="button">
              <i class="icon icon-chevron"></i>
            </span>
          </div>
          <div class="accordion-answer">
            {{{this.accordionAnswer}}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
