<section class="activation"
  style="background: url({{this.activationCardBgImg}});">
  <div class="activation-card">
    {{#if this.activationCardExpBanner.activationCardExp }}
      <div class="activation-error">
        <h6>
          {{this.activationCardExpBanner.activationCardExpHeadline}}
        </h6>
        <p>
          {{this.activationCardExpBanner.activationCardExpDescription}}
        </p>
        <a href="#" class="">Resend Link</a>
      </div>
    {{/if}}
    <div class="activation-card-content set-password">
      <h3>{{this.activationCardHeadline}}</h3>
      <p>{{this.activationCardHeadlineDescription}}</p>
      <form action="##" class="create-password-form">
        <div class="create-password-form-control">
          <label
            for="{{this.activationCardInputs.newPassword.activationCardInputsLabelForName}}"
            class="create-password-form-label">
            {{this.activationCardInputs.newPassword.activationCardInputsLabel}}
            <input
              id="{{this.activationCardInputs.newPassword.activationCardInputsId}}"
              name="{{this.activationCardInputs.newPassword.activationCardInputsLabelForName}}"
              type="password"
              class="create-password-form-input">
            <div class="js-password-toggle">show</div>
          </label>
          <small class="required-error-message">
            {{this.activationCardErrorMessages.requiredError}}
          </small>
        </div>

        <ul class="create-password-criteria">
          {{#each this.activationCardInputsCriteria ~}}
            <li
              id="{{this.this.activationCardInputsCriteriaId}}"
              class="create-password-criteria-item">
              {{this.this.activationCardInputsCriteriaText}}
            </li>
          {{/each}}
        </ul>
        <div class="create-password-form-control">
          <label
            for="{{this.activationCardInputs.confirmPassword.activationCardInputsLabelForName}}"
            class="create-password-form-label">
            {{this.activationCardInputs.confirmPassword.activationCardInputsLabel}}
            <input
              id="{{this.activationCardInputs.confirmPassword.activationCardInputsId}}"
              name="{{this.activationCardInputs.confirmPassword.activationCardInputsLabelForName}}"
              type="password"
              class="create-password-form-input">
            <div class="js-password-toggle">show</div>
          </label>
          <small class="confirmation-error-message">
            {{this.activationCardErrorMessages.confirmationError}}
          </small>
        </div>

        <small class="validation-error-message">
          {{this.activationCardErrorMessages.validationError}}
        </small>
        <button class="btn">
          Login
        </button>
      </form>
    </div>
  </div>
</section>
