<section class="benefits">
    <div class="benefits-table">
        <div class="benefits-table-header">
            <h2 class="benefits-table-header-title">
                {{this.benefitsTitle}}
            </h2>
            <ul role="presentation"
                class="benefits-table-column-headers">
                {{#each this.benefitsTableColumns ~}}
                    <li>{{this.columnHeader}}</li>
                    {{~/each}}
            </ul>
        </div>
        {{#each this.benefitsTableGroup ~}}
            <div class="benefits-table-category">
                <h3 class="benefits-table-category-heading">
                    {{ this.groupHeader }}
                </h3>
                {{#each this.benefitsTableRows ~}}
                    <ul
                        class="benefits-table-category-rows">
                        <li class="benefits-table-row">
                            <span
                                class="benefits-table-row-title">
                                {{this.rowTitle}}
                            </span>
                            <ul
                                class="benefits-table-row-tiers">
                                {{#each this.tiers ~}}
                                    <li
                                        class="benefits-tier {{this.class}}">
                                        &nbsp;
                                    </li>
                                    {{~/each}}
                            </ul>
                        </li>
                    </ul>
                    {{~/each}}
            </div>
            {{~/each}}
    </div>
</section>
