<section class="card-presentation">
  <div class="container">
    <div class="card-presentation-wrapper">
      <div class="card-presentation-image">
        <img src="{{this.cardPresentationImage.icon}}"
          alt="">
      </div>
      <div class="card-presentation-copy">
        <div class="card-presentation-copy-wrapper">
          <h3>{{this.cardPresentationHeadline}}</h3>
          <p>
            {{this.cardPresentationDescription}}
          </p>
          <h6>
            {{this.cardPresentationBenefitsHeadline}}
          </h6>
          <ul class="content-ul">
            {{#each this.cardPresentationBenefitsList}}
              <li>{{this.cardPresentationBenefitsItem}}</li>
            {{/each}}
          </ul>
        </div>
        <a href="./benefits.html" class="btn">Learn
          More</a>
      </div>
    </div>
  </div>
</section>
