<section class="discover-tabs">
  <h2 class="discover-tabs-headline">
    {{this.discoverTabHeadline}}
  </h2>
  <div class="container">
    <div class="discover-tabs-wrapper">
      <nav>
        <div class="nav nav-tabs" id="nav-tab"
          role="tablist">
          <a class="nav-item nav-link active"
            id="nav-home-tab" data-toggle="tab"
            href="#tab-1" role="tab"
            aria-selected="true">{{this.discoverTabs.discoverEntertainment.discoverTabTitle}}</a>
          <a class="nav-item nav-link" id="nav-profile-tab"
            data-toggle="tab" href="#tab-2" role="tab"
            aria-selected="false">{{this.discoverTabs.discoverDining.discoverTabTitle}}</a>
          <a class="nav-item nav-link" id="nav-profile-tab"
            data-toggle="tab" href="#tab-3" role="tab"
            aria-selected="false">{{this.discoverTabs.discoverCategory.discoverTabTitle}}</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="tab-1"
          role="tabpanel">
          <div class="tab-content-block">
            {{#each this.discoverTabs.discoverEntertainment.discoverCards ~}}
              <article class="tab-content-card">
                <figure>
                  <img src={{this.slideImgSrc}}
                    alt="{{this.slideImgAlt}}">
                  <figcaption>
                    <div>{{this.slideDescription}}</div>
                    <a href="" class="btn slide-cta">Reserve
                      Now</a>
                  </figcaption>
                </figure>
              </article>
              {{~/each}}
          </div>
        </div>
        <div class="tab-pane fade" id="tab-2"
          role="tabpanel">
          <div class="tab-content-block">
            {{#each this.discoverTabs.discoverDining.discoverCards ~}}
              <article class="tab-content-card">
                <figure>
                  <img src={{this.slideImgSrc}}
                    alt="{{this.slideImgAlt}}">
                  <figcaption>
                    <div>{{this.slideDescription}}</div>
                    <a href="" class="btn slide-cta">Reserve
                      Now</a>
                  </figcaption>
                </figure>
              </article>
              {{~/each}}
          </div>
        </div>
        <div class="tab-pane fade" id="tab-3"
          role="tabpanel">
          <div class="tab-content-block">
            {{#each this.discoverTabs.discoverCategory.discoverCards ~}}
              <article class="tab-content-card">
                <figure>
                  <img src={{this.slideImgSrc}}
                    alt="{{this.slideImgAlt}}">
                  <figcaption>
                    <div>{{this.slideDescription}}</div>
                    <a href="" class="btn slide-cta">Reserve
                      Now</a>
                  </figcaption>
                </figure>
              </article>
              {{~/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
