<section class="hero {{this.heroClass}}"
    style="background: url('./Content/images/unity-homepage-background.png');">
    <div class="container">
        <div class="hero-wrapper">

            <div class="hero-headline-greeting">
                <h1>
                    {{this.heroHeadline}}
                </h1>
                <p>
                    {{this.heroDescription}}
                </p>
                {{#if this.heroGreetingCta}}
                    <a href=""
                        class="btn">{{this.heroGreetingCtaCopy}}</a>
                {{/if}}
            </div>
            {{#if this.heroSecondary}}
                <div class="hero-headline-cta">
                    <div class="hero-cta-message-container">
                        <h5 class="hero-cta-message-copy">
                            {{this.heroSecondaryMessage}}
                        </h5>
                        <a href="" class="btn">
                            {{this.heroSecondaryCta}}
                        </a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</section>
