<section class="profile-win-loss">

  <h2 class="headline-4">
    {{this.profileWinLossBlock.profileWinLossHeadline}}
  </h2>
  <div class="profile-card-win-loss-statement">
    <span class="win-loss-statement-copy">
      {{this.profileWinLossBlock.profileWinLossContactCopy}}
    </span>
    <span class="win-loss-statement-number">
      {{this.profileWinLossBlock.profileWinLossContactNumber}}
    </span>
  </div>

</section>
