<section class="profile"
  style="background: url({{this.profileCardBgImg}});">

  <div class="profile-card">
    <div class="profile-card-headline">
      <h2 class="headline-4">{{this.profileCardHeadline}}
      </h2>
    </div>
    <div class="profile-card-peronal-information">
      <h3 class="headline-6">
        {{this.profilePersonalInfoHeadline}}
      </h3>
      <form role="presentation"
        class="peronal-information-form">
        {{#each this.profilePersonalInfoItems ~}}
          <div class="peronal-information-form-input">
            <label
              for="{{this.profilePersonalInfoLabelForName}}">
              {{this.profilePersonalInfoLabel}}
            </label>
            <textarea type="text"
              name="{{this.profilePersonalInfoLabelForName}}"
              row="1"
              value="{{this.profilePersonalInfoInputValue}}"
              readonly>{{this.profilePersonalInfoInputValue}}</textarea>
          </div>
        {{/each}}
      </form>
    </div>
    <div class="profile-card-communication-preferences">
      <h3 class="headline-6">
        {{this.profileCommunicationPreferenceHeadline}}
      </h3>
      <p>If you wished to change your communication
        prefferences, please call (XXX)XXX-XXXX</p>
      <form role="presentation"
        class="communication-preferences-form">
        {{#each this.profileCommunicationPreferenceItems ~}}
          <div class="communication-preferences-form-input">
            <p class="text-2">
              {{this.profileCommunicationPreferenceLabel}}
            </p>
            <input type="checkbox"
              name="{{this.profileCommunicationPreferenceLabelForName}}"
              disabled
              {{this.profileCommunicationPreferenceInputValue}}>
            <label
              for="{{this.profileCommunicationPreferenceLabelForName}}">

              {{this.profileCommunicationPreferenceDescription}}
            </label>

          </div>
        {{/each}}
      </form>
    </div>
    {{> components/profile-win-loss @root.profile.components}}
  </div>

</section>
