<section class="promotions">
  <h2 class="promotions-header">
    {{this.promotionsHeadline}}
  </h2>
  <div class="container">
    <div class="promotions-wrapper">
      <div class="promotions-slider">
        {{#each this.promotionItem ~}}
          <article class="promotions-item">
            <figure class="promo-item-image">
              <img src={{this.promotionItemImg}} alt="" />
            </figure>
            <div class="promotions-item-content">
              <h3 class="promotion-item-headline">
                {{this.promotionItemHeadline}}
              </h3>
              <div class="promotion-date">
                {{this.promotionItemDate}}
              </div>
              <div class="promotion-location">
                {{this.promotionItemLocation}}
              </div>
              <div class="promotion-description">
                {{this.promotionItemDescription}}
              </div>
              <a href="" class="btn">
                {{this.promotionItemCTA}}
              </a>
            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>
</section>
