<div id="root-bootloader"></div>
<div id="root-offersAndPromotions" data-baseurl="/api/offersAndPromotions?moduleId=1234567890" data-detailsurl="/api/offersAndPromotionsDetails"></div>

<link href="./Content/scripts/react_styles.css" rel="stylesheet">

<script src="./Content/scripts/react_styles.bundle.js"></script>
<script src="./Content/scripts/vendors~offersAndPromotions~reservations.bundle.js"></script>
<script src="./Content/scripts/vendors~offersAndPromotions.bundle.js"></script>
<script src="./Content/scripts/offersAndPromotions.bundle.js"></script>
