<div id="root-bootloader"></div>
<div id="root-reservations" data-baseurl="/api/reservations?moduleId=1234567890" data-detailsurl="/api/reservationsDetails"></div>

<link href="./Content/scripts/react_styles.css" rel="stylesheet">

<script src="./Content/scripts/react_styles.bundle.js"></script>
<script src="./Content/scripts/vendors~offersAndPromotions~reservations.bundle.js"></script>
<script src="./Content/scripts/reservations.bundle.js"></script>
