<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
  <meta name="description"
    content="{{ this.meta.description }}" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ this.title }}</title>

  <link rel="stylesheet"
    href="https://use.typekit.net/sgn2hmd.css">
  <link rel="stylesheet" href="./Content/css/style.css">
  <link href="./Content/images/favicon.ico"
    rel="shortcut icon" />
</head>

<body>

  {{#>header }}
    {{> global/header @root.navbar }}
    {{/header}}

    <main role="main">
      {{#>content}}{{/content}}
    </main>

    {{#>footer}}
      {{> global/footer @root.footer }}
      {{/footer}}

      {{#>foot}}
        <script src="./Content/scripts/main.js"></script>
        {{/foot}}

</body>

</html>
