<div class="dashboard-hero-header">
  <div class="dashboard-hero-header-greeting">
    <div class="dashboard-hero-greeting-salutation">
      welcome,&nbsp;
    </div>
    <div class="dashboard-hero-greeting-name">
      {{ this.header.accountHolder }}
    </div>
  </div>
  <div class="dashboard-hero-header-qr">
    <div class="dashboard-hero-qr-account_number">
      {{ this.header.accountNumber }}
    </div>
    <button class="dashboard-hero-qr-toggle js-modal-open">
    </button>
    <div class="dashboard-hero-modal-container">
      <div class="dashboard-hero-modal">
        <div class="dashboard-hero-modal-header">
          <button
            class="dashboard-hero-modal-header-close js-modal-close">
          </button>
          <span
            class="dashboard-hero-modal-first_name">{{ this.modalOpen.modalFirstName }}</span>
          <span
            class="dashboard-hero-modal-last_name">{{ this.modalOpen.modalLastName }}</span>
          <span
            class="dashboard-hero-modal-account">{{ this.modalOpen.modalAccountNumber }}</span>
        </div>
        <div class="dashboard-hero-modal-body">
          <img src={{ this.modalOpen.modalQR }}
            alt="qr-code" class="modal-body-qr">
          <div class="modal-body-content">
            {{{ this.modalOpen.modalContent }}}
          </div>
          <div class="modal-body-close">
            <button type="button"
              class="btn js-modal-close">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
