<section class="dashboard-hero"
  style="background: url({{this.heroWrapperBgImg}});">
  <div class="container">
    {{> components/dashboard-hero/dashboard-hero-header this.heroHeader}}
    {{> components/dashboard-hero/dashboard-hero-cards this.heroCards}}
  </div>
</section>
