<footer class="footer">
    <div class="container">
        <div class="footer-primary">
            <div class="col-12 col-sm-4">
                <a href="#">
                    <img src="{{this.imgSrc}}" alt="">
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <h3 class="footer-primary-links-headline">
                    {{this.footerPrimary.first.headline}}
                </h3>
                <ul class="footer-primary-links">
                    {{#each this.footerPrimary.first.links ~}}
                        <li>
                            <a
                                href="{{ this.url}}">{{this.title}}</a>
                        </li>
                        {{~/each}}

                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <h3 class="footer-primary-links-headline">
                    {{this.footerPrimary.second.headline}}
                </h3>
                <ul class="footer-primary-links">
                    {{#each this.footerPrimary.second.links ~}}
                        <li>
                            <a
                                href="{{ this.url}}">{{this.title}}</a>
                        </li>
                        {{~/each}}
                </ul>
            </div>
        </div>
        <div class="footer-secondary">
            <p class="text-2">
                {{this.footerSecondary.description}}
            </p>
            <p class="text-2">
                {{this.footerSecondary.legal}}
            </p>
            <ul class="footer-secondary-links">
                {{#each this.footerSecondary.links ~}}
                    <li><a
                            href={{this.url}}>{{this.title}}</a>
                    </li>
                    {{~/each}}
            </ul>
        </div>
    </div>
</footer>
