<header class="header">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand mobile-logo d-md-none"
      href="#"><img src={{ this.imgSrcDesktop }}
        alt="Desktop Logo"></a>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=""></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarToggle">

      <ul class="navbar-nav">
        {{#each this.navLeft ~}}
          <li class="nav-item">
            <a class="nav-link"
              href="{{ this.url}}">{{this.title}}</a>
          </li>
          {{~/each}}
      </ul>

      <a class="navbar-brand desktop-logo d-none d-md-block"
        href="homepage.html"><img src={{ this.imgSrcDesktop
          }} alt="Desktop Logo"></a>

      <ul class="navbar-nav">
        {{#each this.navRight ~}}
          <li class="nav-item">
            <a class="nav-link"
              href="{{this.url}}">{{this.title}}</a>
          </li>
          {{~/each}}
      </ul>
    </div>
  </nav>
  <nav class="subnav-mobile">
    <ul>
      {{#each this.subNavMobile ~}}
        <li>
          <a href="{{this.url}}">{{this.title}}</a>
        </li>
        {{~/each}}
    </ul>
  </nav>
</header>
