<div class="dashboard-card js-set-height" data-visit="true">
  <div class="dashboard-card-front">
    <div
      class="dashboard-card__info-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card-content js-set-height">
      <div class="comp-dollars-card">
        <h3 class="comp-dollars-card-title">
          {{this.cardFrontFace.headline}}
        </h3>
        <div class="comp-dollars-card-subtitle">
          {{this.cardFrontFace.subHeadline}}
        </div>
        <div class="comp-dollars-content-balance">
          <span class="comp-dollars-balance">
            <sup>$</sup>{{this.cardFrontFace.currentUnityPoints}}
          </span>
          <span class="comp-dollars-balance-time">
            <i class="icon icon-clock"></i>
            {{this.cardFrontFace.unityPointsExpiration}}
          </span>
        </div>
        {{#if this.cardFrontFace.compDollars}}
          <div
            class="comp-dollars-reward-suggestion js-suggestion-toggle">
            {{this.cardFrontFace.suggestedRewards}}
          </div>
          <div class="comp-dollars-earnings-content">
            <div class="comp-dollars-slider">
              {{#each this.cardFrontFace.compDollarSlider ~}}
                <article class="comp-dollar-slider-item">
                  <figure>
                    <img src={{this.slideImgSrc}}
                      alt="{{this.slideImgAlt}}">
                    <figcaption>
                      <div>{{this.slideDescription}}</div>
                      <a href=""
                        class="btn slide-cta">Reserve
                        Now</a>
                    </figcaption>
                  </figure>

                </article>
                {{~/each}}
            </div>
          </div>
        {{else}}
          <div class="comp-dollars-earnings-content">
            {{{this.cardFrontFace.noCompDollars}}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="dashboard-card-back">
    <div
      class="dashboard-card__close-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card__close-btn js-set-initial">
    </div>
    <div class="dashboard-card-content js-set-height">
      <div class="dashboard-card-back-opt initial">
        {{{ this.cardBackFace.compDollarFirstMessage}}}
        <a class="btn js-set-initial">Get Started</a>
      </div>
      <div class="dashboard-card-back-opt verified">
        {{{ this.cardBackFace.compDollarStandardMessage}}}
      </div>
    </div>
  </div>
</div>
