<div class="dashboard-card js-set-height">
  <div class="dashboard-card-front">
    <div
      class="dashboard-card__info-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card-content js-set-height">
      <div class="free-play-rewards-card">
        <h3 class="free-play-rewards-card-title">
          {{this.cardFrontFace.headline}}
        </h3>
        <div class="free-play-rewards-card-subtitle">
          {{this.cardFrontFace.subHeadline}}
        </div>
        <div class="free-play-rewards-content-balance">
          <span class="free-play-rewards-balance">
            <sup>$</sup>{{this.cardFrontFace.currentBalance}}
          </span>
          <span class="free-play-rewards-balance-time">
            <i
              class="icon icon-clock"></i>{{this.cardFrontFace.balanceExpiration}}
          </span>
        </div>
        {{#if this.cardFrontFace.earnings}}
          <div class="free-play-rewards-earnings-date">
            {{this.cardFrontFace.earningsDate}}
          </div>
          <div class="free-play-rewards-earnings-content">
            <div class="free-play-rewards-earnings">
              <span
                class="free-play-rewards-earnings-recent">
                <sup>$</sup>{{this.cardFrontFace.earningRecent}}
              </span>
              <span
                class="free-play-rewards-earnings-reference {{#if this.cardFrontFace.earningAvailable}}available{{/if}}">
                {{this.cardFrontFace.earningReference}}
              </span>
            </div>
          </div>
        {{else}}
          <div class="free-play-rewards-earnings-content">
            {{{this.cardFrontFace.noEarnings}}}
          </div>
        {{/if}}
        <div class="free-play-details">
          <button class="free-play-details-view">
            view details
          </button>
          <div class="free-play-details-drawer">
            {{#each this.cardFrontFace.earningDetails ~}}
              <h6 class="details-drawer-heading">
                <span>{{{this.earningDetailsHeading}}}</span>
              </h6>
              <ul class="details-drawer-items">
                <li class="details-drawer-item">
                  <span
                    class="details-drawer-item-title">{{{this.earningDetailsTitle}}}</span>
                  <span class="details-drawer-item-value">
                    <sup>$</sup>
                    <span
                      class="details-drawer-item-amount">{{{this.earningDetailsValue}}}</span>
                  </span>
                </li>
              </ul>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-card-back">
    <div
      class="dashboard-card__close-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card-content js-set-height">
      {{{ this.cardBackFace}}}
    </div>
  </div>
</div>
