<div class="dashboard-card js-set-height">
  <div class="dashboard-card-front">
    <div
      class="dashboard-card__info-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card-content js-set-height">
      <div class="status-summary-card">
        <h3 class="status-summary-card-title">
          {{this.cardFrontFace.headline}}
        </h3>
        <div class="status-summary-card-subtitle">
          {{this.cardFrontFace.currentTier}}
        </div>
        <div class="status-summary-chart"
          data-goal={{this.cardFrontFace.tierGoalPoints}}
          data-current={{this.cardFrontFace.tierCurrentPoints}}>
          <div class="status-summary-current">
            <span class="current-points">0</span>
            <span class="current-points-statement">
              Total Tier Credits Earned
            </span>
          </div>
          <svg width="100%" height="100%"
            viewBox="0 0 42 42" class="do">
            <defs>
              <linearGradient id="chart-gradient" x1="0%"
                y1="0%" x2="100%" y2="0%">
                <stop offset="0%" />
                <stop offset="100%" />
              </linearGradient>
            </defs>
            <circle class="donut-center" cx="21" cy="21"
              r="15.91549430918954" fill="#fff"></circle>
            <circle class="donut-ring" cx="21" cy="21"
              r="15.91549430918954" fill="transparent"
              stroke="#f2f2f2" stroke-width="4"></circle>
            <circle class="donut-segment" cx="21" cy="21"
              r="15.91549430918954" fill="transparent"
              stroke="url(#chart-gradient)" stroke-width="4"
              stroke-dasharray="10 90"
              stroke-dashoffset="73">
            </circle>
          </svg>
          <div class="chart-bottom-segment"></div>
          <div class="status-summary-personalized">
            {{this.cardFrontFace.personalizedGoalPoints}}<span>Personalized
              Goal</span>
          </div>
        </div>
        <div class="status-summary-content">
          <p>Earn<span
              class="status-summary-goals">{{this.cardFrontFace.tierGoalPoints}}</span>
            Tier Credits by <span
              class="status-summary-expiration-date">{{this.cardFrontFace.tierGoalExpiration}}</span>
            to reach <span
              class="status-summary-tier">{{this.cardFrontFace.goalTier}}</span>
            status.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-card-back">
    <div
      class="dashboard-card__close-btn js-dashboard-card__toggle">
    </div>
    <div class="dashboard-card-content js-set-height">
      {{{ this.cardBackFace}}}
    </div>
  </div>
</div>
