<section class="tabs">
  <h2 class="tabs-headline">EARN and redeem right here at
    Hard Rock Casino Northern Indiana.</h2>
  <p class="tabs-subheadline">Congratulations, you’re at the
    forefront of a new level
    of recognition with the ability to earn Tier Credits and
    redeem Unity Points. </p>
  <div class="container">
    <div class="tabs-wrapper">
      <nav>
        <div class="nav nav-tabs" id="nav-tab"
          role="tablist">
          <a class="nav-item nav-link active"
            id="nav-home-tab" data-toggle="tab"
            href="#tab-1" role="tab">Earn</a>
          <a class="nav-item nav-link" id="nav-profile-tab"
            data-toggle="tab" href="#tab-2"
            role="tab">Redeem</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="tab-1"
          role="tabpanel">
          {{> components/tabs/tab-earn this.earnTab}}
        </div>
        <div class="tab-pane fade" id="tab-2"
          role="tabpanel">
          {{> components/tabs/tab-redeem this.redeemTab}}
        </div>
      </div>
    </div>
  </div>
</section>
