<section class="earn">
  <div class="earn-header">
    <h3>{{this.earnTabHeadline}}</h3>
    <p>{{this.earnTabDescription}}</p>
  </div>
  {{#each this.earnTabTier ~}}
    <div class="earn-tier-item">
      <figure class="earn-tier-item-img">
        <img src={{this.earnTabTierItemImg}} alt="">
      </figure>
      <div class="earn-tier-item-content">
        <h6 class="earn-tier-title">
          {{this.earnTabTierItemTitle}}
        </h6>
        <div class="earn-tier-range">
          {{this.earnTabTierItemRange}}
        </div>
        <p class="earn-tier-description">
          {{this.earnTabTierItemDescription}}
        </p>
      </div>
    </div>
  {{/each}}
  <div class="earn-tier-benefits-row">
    {{#each this.earnTabTierBenefits ~}}
      <div class="earn-tier-benefit">
        <h3>{{this.tierBenefit}}</h3>
        <p>{{this.tierBenefitDescription}}</p>
      </div>
    {{/each}}
  </div>
  <div class="earn-cta-row">
    <a href="benefits.html" class="btn">
      Benefits Details
    </a>
  </div>
</section>
