<section class="redeem">
  <div class="redeem-header">
    <h3>{{this.redeemTabHeadline}}</h3>
    <p>{{this.redeemTabDescription}}</p>
  </div>
  {{#each this.redeemTabOffer ~}}
    <div class="redeem-offer-item">
      <figure class="redeem-offer-item-img">
        <img src={{this.redeemTabOfferItemImg}} alt="offer">
      </figure>
      <div class="redeem-offer-item-content">
        <h3 class="redeem-offer-title">
          {{this.redeemTabOfferItemTitle}}
        </h3>
        <p class="redeem-offer-description">
          {{this.redeemTabOfferItemDescription}}
        </p>
        {{#if this.redeemTabOfferCTA}}
          <a href="#">VIEW MORE</a>
        {{/if}}
      </div>
    </div>
  {{/each}}
  <div class="redeem-cta-row">
    <a href="benefits.html" class="btn">
      Benefits Details
    </a>
  </div>
</section>
