.btn {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  border-radius: 0;
  border-width: 2px;
  padding-left: 36px;
  padding-right: 36px;
}

.btn {
  color:$Secondary;
  border-color: $Secondary;
  background-color: $White;

  &:hover,&:focus {
    color:$White;
    border-color: $Secondary;
    background-color: $Secondary;
  }

  &.active {
    color:$Secondary;
    border-color: $Secondary;
    background-color: $White;
  }

  &.disabled {
    color:#999;
    border-color: #999;
    border-width: 1px;
    background-color: $White;
    line-height: 2.7rem;
  }

}

.btn-group {
  .btn {
    color: $PrimaryBlack-80;
    border-color: #d3d3d3;
    border-width: 1px;
    background-color: $White;
    line-height: 2.7rem;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 7em;

    &:hover,&:focus {
      color:$White;
      border-color: $Secondary;
      background-color: $Secondary;
    }

    &.active {
      color:$Secondary;
      border-color: $Secondary;
      line-height: 2.5rem;
      border-width: 2px;
    }

    &.disabled {
      color:#999;
      border-color: #999;
      border-width: 1px;
      background-color: $White;
      line-height: 2.7rem;
    }
  }
}
