footer {
  padding: 4rem 3rem;
  margin-top: auto;
  background-color: $footer-background-color;
  color: $footer-text-color;

  @media (min-width: 768px) {
    padding: 4rem 5rem;
  }
  @media (min-width: 1200px) {
    padding: 10rem 0 7rem;
  }
}
.footer-primary,
.footer-secondary {
  @extend .row;
}

.footer-primary {
  margin-bottom: 0;
  text-align: center;
  @media (min-width: 768px) {
    margin-bottom: 6rem;
    text-align: left;
  }
}
.footer-primary a {
  width: 100%;
}
.footer-primary a img {
  width: 100%;
  height: auto;
}
.footer-primary > * {
  &:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    @media (min-width: 768px) {
      justify-content: flex-start;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 4rem;
    }
    @media (min-width: 1200px) {
      justify-content: center;
      padding-left: 0;
      padding-right: 8rem;
    }
  }
}

.footer-primary .footer-primary-links-headline {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-primary .footer-primary-links {
  list-style: none;
  padding-bottom: 5rem;
  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}
.footer-primary .footer-primary-links li {
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.footer-primary-links a,
.footer-primary-links button {
  color: $footer-link-color;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  border: none;
  background-color: transparent;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
}

.footer-secondary {
  display: flex;
  flex-direction: column;
  flex-wrap: unset;
  //align-items: center;
  justify-content: space-between;
}

.footer-secondary > p {
  text-align: center;
  margin-bottom: 5rem;
  &:last-of-type {
    margin-bottom: 4rem;
  }
}

.footer-secondary-links {
  //width: 90%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    width: auto;
  }
}

.footer-secondary-links li {
  &:after {
    content: '|';
    padding: 0 0.4rem 0 0.1rem;
  }
  &:last-child {
    &:after {
      content: ' ';
      padding: 0 0.4rem 0 0.1rem;
    }
  }
}

.footer-secondary-links a,
.footer-secondary-links button {
  color: $footer-link-color;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
