@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff2') format('woff2'),
    url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-accommodations:before {
  content: '\E001';
}

.icon-bingo:before {
  content: '\E002';
}

.icon-check:before {
  content: '\E003';
}

.icon-chevron:before {
  content: '\E004';
}

.icon-chevronDown:before {
  content: '\E005';
}

.icon-circleCheck:before {
  content: '\E006';
}

.icon-clock:before {
  content: '\E007';
}

.icon-comps:before {
  content: '\E008';
}

.icon-dining:before {
  content: '\E009';
}

.icon-dollars:before {
  content: '\E00A';
}

.icon-entertainment:before {
  content: '\E00B';
}

.icon-filter:before {
  content: '\E00C';
}

.icon-hotel:before {
  content: '\E00D';
}

.icon-info:before {
  content: '\E00E';
}

.icon-jackpot:before {
  content: '\E00F';
}

.icon-party:before {
  content: '\E010';
}

.icon-performance:before {
  content: '\E011';
}

.icon-place:before {
  content: '\E012';
}

.icon-poker:before {
  content: '\E013';
}

.icon-promotions:before {
  content: '\E014';
}

.icon-restaraunt:before {
  content: '\E015';
}

.icon-star:before {
  content: '\E016';
}

.icon-trophy:before {
  content: '\E017';
}
