$link-color: $Secondary;

$header-background-color: $White;
$header-open-background-color: $SecondaryDarkGrey;

$footer-text-color: $White;
$footer-link-color: $White;
$footer-background-color: $Black;

$alert-banner-color: $White;
$alert-banner-background-color: rgba(0, 0, 0, 0.45);

$benefits-color: $DarkGrey;
$benefits-background: $White;
$benefits-active-icon-color: $Secondary;
$benefits-category-heading-background: $PrimaryBlack-5;
$benefits-table-shadow: $ShadowElev--5;
$benefits-border-color: $PrimaryBlack-20;

$hero-headline-color: $Secondary-90;
$hero-description-color: $White;
$hero-secondary-message-background: $PrimaryBlack-10;
$hero-secondary-message-border: $Secondary;
$hero-secondary-message-color: $DarkGrey;

$dashboard-header-color: $White;
$dashboard-header-modal-background: $White;
$dashboard-header-modal-header-color: $White;
$dashboard-header-modal-header-bg: $Primary;
$dashboard-header-modal-header-body: $DarkGrey;
$dashboard-header-x-close: $White;

$dashboard-card-bg: $White;
$dashboard-card-icon-bg: $PrimaryBlack-20;
$dashboard-card-back-x-close: $Black;
$dashboard-card-back-border: $PrimaryBlack-20;

$Status-summary-card-segment: $White;
$Status-summary-card-segment-border: $PrimaryBlack-20;
$Status-summary-card-current: $Secondary;
$Status-summary-card-gradient-start: #6a6296;
$Status-summary-card-gradient-finish: $Primary;

$free-play-card-divider-line: $PrimaryBlack-20;
$free-play-card-icon-bg: $PrimaryBlack-20;
$free-play-card-balance: $Secondary;
$free-play-card-gradient-finish: $Primary;

$comp-dollars-card-divider-line: $PrimaryBlack-20;
$comp-dollars-card-balance: $Secondary;
$comp-dollars-card-slider-arrows: $Secondary;
$comp-dollars-card-slider-dots: $Secondary;
$comp-dollars-card-slider-border: $Secondary;
$comp-dollars-card-slide-color: $White;

$accordion-bg: $PrimaryBlack-5;
$accordion-wrapper-bg: $White;
$accordion-item-border: $PrimaryBlack-20;
$accordion-item-hover-bg: $Secondary;
$accordion-item-hover-color: $White;
$accordion-item-icon: $Secondary;

$promotions-headline-color: $White;
$promotions-bg: $SecondaryDarkGrey;
$promotions-border-top: $Secondary;
$promotions-wrapper-bg: $White;
$promotions-slider-bg: $White;
$promotions-slider-arrows: $Secondary;
$promotions-slider-dots: $Secondary;
$promotions-slider-item-icons: $Secondary;
$promotions-slider-item-border: $Secondary;
$promotion-slider-item-bg: $PrimaryBlack-5;

$tabs-hover-bg: $Secondary;
$tabs-hover-color: $White;
$tabs-active-color: $Secondary;
$tabs-active-border-color: $Secondary;
$tabs-bar-shadow: $ShadowElev--3;

$homepage-tabs-content-bg: $PrimaryBlack-5;
$homepage-tabs-wrapper-border: $PrimaryBlack-5;

$earn-tier-title: $Secondary;

$discover-headline-color: $White;
$discover-bg: $SecondaryDarkGrey;
$discover-border-top: $Secondary-90;
$discover-border-bottom: $Secondary;
$discover-wrapper-bg: $White;
$discover-card-description-color: $White;

$profile-card-bg: $White;
$profile-personal-info-border: $PrimaryBlack-10;
$profile-comm-pref-checkbox: $Secondary;
$profile-comm-pref-border: $Secondary;
$profile-win-loss-bg: $PrimaryBlack-10;

$activation-flow-bg: $White;
$activation-flow-error: $Error--1;
$activation-flow-input-border: $DarkGrey;
$activation-flow-input-border-focus: $Secondary-90;
$activation-flow-input-border-error: $activation-flow-error;
$activation-flow-criteria-checked: $Success--1;
$activation-flow-criteria-error: $activation-flow-error;
$activation-flow-criteria-error-message: $activation-flow-error;
$activation-flow-Expired-link-bg: $Primary-40;
$activation-flow-Expired-link-text: $Primary-90;
$activation-flow-Expired-link-icon: $Primary-40;
$activation-flow-Expired-link-icon-bg: $Primary-90;

html {
  background-color: $White;
}

body {
  color: $DarkGrey;
}

section {
  padding: 6.4rem 0;
  position: relative;
}
.unity-rte {
  padding: 0;
  &.pd-top {
    padding-top: 6.4rem;
  }
  &.pd-bottom {
    padding-bottom: 6.4rem;
  }
}

.dark {
  background: $Black;
  color: $White;

  a {
    color: $White;
    &:hover {
      color: $White;
    }
  }
}
