// COLORS
$Primary: #352c65;
$Primary-90: #494174;
$Primary-80: #5d5684;
$Primary-60: #8680a3;
$Primary-40: #aeabc1;
$Primary-20: #d7d5e0;
$Primary-10: #ebeaf0;
$Primary-5: #f5f4f7;

$Secondary: #8f6500;
$Secondary-90: #c99700;
$Secondary-80: #d4ac33;
$Secondary-60: #dfc166;
$Secondary-40: #e9d599;
$Secondary-20: #f4eacc;
$Secondary-10: #faf5e6;
$Secondary-5: #fcfaf2;

$PrimaryBlack: #101820;
$PrimaryBlack-90: #282f36;
$PrimaryBlack-80: #40464d;
$PrimaryBlack-60: #707479;
$PrimaryBlack-40: #9fa3a6;
$PrimaryBlack-20: #cfd1d2;
$PrimaryBlack-10: #e7e8e9;
$PrimaryBlack-5: #f3f3f4;

$Black: #000000;
$DarkGrey: #333333;
$SecondaryDarkGrey: #111111;
$White: #ffffff;

$Error--1: #e93c3c;
$Error--2: #fb4e4e;
$Error--3: #ff6262;

$Success--1: #1ab759;
$Success--2: #2ac769;
$Success--3: #40dd7f;

$Warning--1: #e89806;
$Warning--2: #f6a609;
$Warning--3: #ffbc1f;

// SHADOWS

$ShadowElev--1: 0px 1px 5px 0px rgba(51, 51, 51, 0.2);
$ShadowElev--2: 0px 2px 10px 0px rgba(51, 51, 51, 0.2);
$ShadowElev--3: 0px 3px 15px 0px rgba(51, 51, 51, 0.2);
$ShadowElev--4: 0px 4px 20px 0px rgba(51, 51, 51, 0.2);
$ShadowElev--5: 0px 5px 25px 0px rgba(51, 51, 51, 0.2);

// ANIMATIONS
$MainTransition: all 0.3s ease-in-out;
