<section class="{{ this.theme }}">
  <div class="container">

    <div>

      <button type="button" class="btn">Button label (button)</button>

      <a href="#" class="btn">Button label (anchor)</a>

      <button type="button" class="btn disabled">Button label (disabled)</button>

      <br><br>
    </div>

    <div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn">All</button>
        <button type="button" class="btn">Today</button>
        <button type="button" class="btn">Date Range</button>
      </div>

    </div>

  </div>

</section>
