<section class="{{ this.theme }}">
  <div class="container">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="demoCheckDefault">
      <label class="form-check-label" for="demoCheckDefault">Default checkbox</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="demoCheckChecked" checked>
      <label class="form-check-label" for="demoCheckChecked">Checked checkbox</label>
    </div>

    <hr>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="demoRadio" id="demoRadio1">
      <label class="form-check-label" for="demoRadio1">Default radio</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="demoRadio" id="demoRadio2" checked>
      <label class="form-check-label" for="demoRadio2">Checked radio</label>
    </div>

  </div>
</section>
