<section class="{{ this.theme }}">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <i class="icon icon-accommodations"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-check"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-chevron"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-circleCheck"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-clock"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-dollars"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-filter"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-info"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-jackpot"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-performance"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-place"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-restaraunt"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-star"></i>
      </div>
      <div class="col-2">
        <i class="icon icon-trophy"></i>
      </div>
    </div>
    
  </div>
</section>
