<section class="{{ this.theme }}">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div>

          <h1>Headline</h1>
          <h2>Headline</h2>
          <h3>Headline</h3>
          <h4>Headline</h4>
          <h5>Headline</h5>
          <h6>Headline</h6>

          <p>Body</p>

          <p class="text-2">Body 2</p>

          <p class="caption-1">Caption</p>

          <p class="caption-2">Caption 2</p>

          <a href="#">Link</a>

          <br>

          <a class="text-2" href="#">Link 2</a>

        </div>
      </div>
      <div class="col-md-4">
        <div style="text-align:center">

          <h1>Headline</h1>
          <h2>Headline</h2>
          <h3>Headline</h3>
          <h4>Headline</h4>
          <h5>Headline</h5>
          <h6>Headline</h6>

          <p>Body</p>

          <p class="text-2">Body 2</p>

          <p class="caption-1">Caption</p>

          <p class="caption-2">Caption 2</p>

          <a href="#">Link</a>

          <br>

          <a class="text-2" href="#">Link 2</a>

        </div>
      </div>
      <div class="col-md-4">
        <div style="text-align:right">

          <h1>Headline</h1>
          <h2>Headline</h2>
          <h3>Headline</h3>
          <h4>Headline</h4>
          <h5>Headline</h5>
          <h6>Headline</h6>

          <p>Body</p>

          <p class="text-2">Body 2</p>

          <p class="caption-1">Caption</p>

          <p class="caption-2">Caption 2</p>

          <a href="#">Link</a>

          <br>

          <a class="text-2" href="#">Link 2</a>

        </div>
      </div>
    </div>

  </div>
</section>
