.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 5rem;
  background-color: $accordion-bg;
  @media (min-width: 769px) {
    padding: 4.2rem 3rem 9rem;
  }
}
.accordion-header {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  @media (min-width: 769px) {
    margin-bottom: 4.5rem;
  }
}
.accordion-wrapper {
  background-color: $accordion-wrapper-bg;
  padding: 1.4rem;
  @media (min-width: 768px) {
    padding: 3rem;
  }
  @media (min-width: 1200px) {
    padding: 3.6rem;
  }
}
.accordion-question {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 3rem 0.5rem 3rem 0;
  border-bottom: 1px solid $accordion-item-border;
  transition: $MainTransition;
  cursor: pointer;
  @media (min-width: 769px) {
    padding: 3rem 2rem;
    align-items: center;
  }
  &:hover {
    background-color: $accordion-item-hover-bg;
    color: $accordion-item-hover-color;
    span {
      i {
        color: $accordion-item-hover-color;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.accordion-question h6 {
  margin-bottom: 0;
  max-width: 90%;
}
.accordion-question span {
  margin-left: auto;
  color: $accordion-item-icon;
  border: none;
  background-color: transparent;
  transform: rotate(90deg);
  pointer-events: none;
  transition: $MainTransition;
}
.accordion-question.open span {
  transform: rotate(-90deg);
}
.accordion-answer {
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: $MainTransition;
  transform-origin: top center;
  @media (min-width: 769px) {
    padding: 0 2rem;
  }
  &.open {
    max-height: 100vh;
    opacity: 1;
    padding: 3rem 0;
    @media (min-width: 769px) {
      padding: 3rem 2rem;
    }
  }
}
