.activtation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.activation-card {
  position: relative;
  background-color: $activation-flow-bg;
  max-width: 45rem;
  min-height: 30rem;
  margin-right: auto;
  margin-left: auto;
}
.activation-card h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.activation-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3.5rem;
  height: 100%;
  min-height: 30rem;
  p {
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }
  }
}
.create-password-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  .btn {
    width: 100%;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
.create-password-form-control {
  position: relative;
  width: 100%;
  &:last-of-type {
    margin-bottom: 4rem;
  }
}
.create-password-form-label {
  display: block;
  position: relative;
}

.create-password-form-input {
  display: block;
  padding: 1.7rem 1rem 1.5rem;
  height: 4.5rem;
  width: 100%;
  font-size: 1.5rem;
  position: relative;
  border: 1px solid $activation-flow-input-border;
  border-radius: 0;
  &:focus {
    border: 1px solid $activation-flow-input-border-focus;
    outline: none;
  }
  &.error-input {
    border: 1px solid $activation-flow-input-border-error;
  }
}
.js-password-toggle {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
  transform: translateY(-50%);
  text-decoration: underline;
  cursor: pointer;
}
.create-password-criteria {
  list-style: none;
  margin: 1rem 0 3rem;
}

.create-password-criteria-item {
  position: relative;
  padding-left: 2rem;
  &:before {
    content: '•';
    position: absolute;
    left: 0;
  }
  &.checked {
    @extend .icon;
    &:before {
      @extend .icon:before;
      content: '\E003';
      position: absolute;
      left: 0;
      font-size: 1rem;
      color: $activation-flow-criteria-checked;
    }
  }
  &.error {
    @extend .icon;
    color: $activation-flow-criteria-error;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 0.3rem;
      width: 1.2rem;
      background-color: $activation-flow-criteria-error;
      left: 0;
      z-index: 10;
      transform-origin: center;
    }
    &:before {
      top: 1rem;
      transform: rotate(45deg);
    }
    &:after {
      bottom: 1.06rem;
      transform: rotate(-45deg);
    }
  }
}

.required-error-message,
.confirmation-error-message {
  display: none;
  position: absolute;
  bottom: -1.5rem;
  color: $activation-flow-criteria-error-message;
  &.error-message {
    display: block;
  }
}
.validation-error-message {
  display: none;
  position: absolute;
  bottom: 5.5rem;
  color: $activation-flow-criteria-error-message;
  &.error-message {
    display: block;
  }
}

.activation-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 3rem;
  text-align: left;
  color: $activation-flow-Expired-link-text;
  background-color: $activation-flow-Expired-link-bg;
  z-index: 10;
  h6 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    position: relative;
    padding-left: 2rem;
    &:before {
      content: '!';
      position: absolute;
      height: 1.6rem;
      width: 1.6rem;
      top: 0.4rem;
      left: 0;
      text-align: center;
      color: $activation-flow-Expired-link-icon;
      line-height: 0.85;
      background-color: $activation-flow-Expired-link-icon-bg;
      border-radius: 50%;
      height: 1.6rem;
    }
  }
  a {
    color: $activation-flow-Expired-link-text;
    text-decoration: underline;
    margin-top: auto;
  }
}
