.alert-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  //margin-bottom: 3rem;
  padding: 0.6rem;
  z-index: 2;
  background: $alert-banner-background-color;
}
.alert-banner .alert-banner-content {
  display: inline-block;
  text-align: center;
}
.alert-banner .alert-banner-content,
.alert-banner .alert-banner-content p {
  font-size: 1.2rem;
  color: $alert-banner-color;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.alert-banner .alert-banner-content p a,
.alert-banner .alert-banner-content a {
  font-size: 1.2rem;
  color: $alert-banner-color;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 0.5rem;
}
