.benefits {
  color: $benefits-color;
}
.benefits ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.benefits-table {
  padding: 0 2rem 4rem;
  margin: 0 20px;
  max-width: 1100px;
  background: $benefits-background;
  box-shadow: $benefits-table-shadow;
  @media (min-width: 769px) {
    padding: 0 4rem 8rem;
  }
  @media (min-width: 1141px) {
    margin: 0 auto;
  }
}
.benefits-table-header-title {
  padding: 5rem 0;
  margin-bottom: 9rem;
  text-align: center;
  background: $benefits-category-heading-background;
  @media (min-width: 769px) {
    margin-bottom: 5.5rem;
  }
}
ul.benefits-table-column-headers {
  width: 100%;
  justify-content: space-between;
  padding: 0 0.6rem 0 2rem;
  align-items: flex-end;
  @media (min-width: 769px) {
    padding: 0 2rem;
    align-items: center;
  }
}
.benefits-table-column-headers li {
  &:first-child {
    padding: 0;
    padding-right: 1rem;
    width: 40%;
    text-transform: none;
    font-size: 1.5rem;
    @media (min-width: 768px) {
      padding: 0;
      padding-right: 0;
      font-size: 1.8rem;
    }
  }
  &:not(:first-child) {
    width: 7.5%;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    transition: $MainTransition;
    @media (min-width: 768px) {
      width: 15%;
      transform: none;
    }
  }
}
.benefits-table-column-headers,
.benefits-table-category-heading,
.benefits-table-header-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
  text-transform: uppercase;
  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}
.benefits-table-category-heading {
  padding: 1rem 2rem;
  margin-bottom: 0;
  background: $benefits-category-heading-background;
}
.benefits-table-category-rows {
  padding: 2rem;
  margin-bottom: 0;
  border-bottom: 1px solid $benefits-border-color;
}
.benefits-table-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.benefits-table-row-title {
  width: 40%;
  font-size: 1.3rem;
  line-height: 1.8rem;
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}
.benefits-table-row-tiers {
  justify-content: space-around;
  width: 60%;
}
.benefits-tier {
  position: relative;
  width: 100%;
  text-align: center;
  &.active {
    &:before {
      content: '•';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2.9rem;
      transform: translate(-50%, -50%);
      color: $benefits-active-icon-color;
    }
  }
}
.hero + .benefits {
  padding: 0 0 3rem;
  @media (min-width: 769px) {
    padding: 0 0 6rem;
  }
}
