.card-presentation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 84rem;
  margin: 0 auto;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.card-presentation-image {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 50%;
    margin-right: 4rem;
  }
}
.card-presentation-image img {
  width: 100%;
  max-width: 40rem;
  box-shadow: 2px 57px 50px -54px rgba(0, 0, 0, 0.8);
}

.card-presentation-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  @media (min-width: 768px) {
    align-items: flex-start;
    width: 50%;
    padding: 0;
  }
}
.card-presentation-copy p {
  margin-bottom: 3rem;
}
.card-presentation-copy h6 {
  margin-bottom: 1rem;
}
.card-presentation-copy ul {
  margin-bottom: 4rem;
}
.card-presentation-copy .btn {
  width: 100%;
  max-width: 20rem;
  @media (min-width: 768px) {
    width: unset;
  }
}
