.comp-dollars-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
h3.comp-dollars-card-title {
  margin: 1rem 0 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  @media (min-width: 768px) {
    margin: 1rem 0 0;
  }
}
.comp-dollars-card-subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.comp-dollars-content-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.7rem 0 3.3rem;
  margin-bottom: 0;
  border-bottom: none;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 1px solid $comp-dollars-card-divider-line;
  }
}
.comp-dollars-balance,
.comp-dollars-earnings-recent {
  position: relative;
  margin-left: -1rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  color: $comp-dollars-card-balance;
  sup {
    font-size: 57%;
  }
}
.comp-dollars-balance {
  margin-bottom: 2.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.comp-dollars-balance-time,
.comp-dollars-earnings-reference {
  padding: 0 0 0.5rem 1rem;
  width: 40%;
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
}
.comp-dollars-balance-time {
  width: 80%;
  border: 2px solid $PrimaryBlack-20;
  padding: 1rem 2rem;
  @media (min-width: 768px) {
    width: 40%;
    border: none;
    padding: 0 0 0.5rem 1rem;
  }
  i {
    color: $Secondary;
    @media (min-width: 768px) {
      position: absolute;
      top: -2rem;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: -3.3rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $PrimaryBlack-20;
    // @media (min-width: 768px) {
    //   top: -2.5rem;
    //   left: 1rem;
    // }
  }
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2.9rem;
    right: 50%;
    transform: translate(50%, 0);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $White;
  }
  @media (min-width: 768px) {
    &:before,
    &:after {
      display: none;
    }
  }
}
.comp-dollars-reward-suggestion {
  @extend .btn;
  margin: 0 0 3rem;
  font-weight: 400;
  font-size: 1.8rem;
  border: none;
  background: transparent;
  color: $DarkGrey;
  pointer-events: none;
  &:after {
    content: '';
    @extend .icon:before;
  }

  &:hover {
    background: transparent;
    color: $DarkGrey;
  }
  @media (max-width: 767px) {
    position: relative;
    width: 100%;
    margin: auto 0 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: none;
    background: $Primary;
    color: $White;
    pointer-events: all;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    &:after {
      content: '\E005';
      position: absolute;
      font-size: 1rem;
      font-weight: 100;
      right: 2rem;
      top: 1rem;
      color: $White;
    }

    &:hover,
    &:active {
      background: $Primary-80;
      color: $White;
    }
    &.open-suggestions {
      &:after {
        top: 0.75rem;
        transform: rotate(180deg);
      }
    }
  }
}
.comp-dollars-earnings-content {
  overflow: hidden;
  margin-top: 0;
  max-height: 0;
  transition: $MainTransition;
  @media (min-width: 768px) {
    margin-top: 0;
    max-height: unset;
    overflow: visible;
  }
  &.open-suggestions {
    max-height: 100vh;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
}
.comp-dollars-slider {
  max-width: 28rem;
  cursor: grab;
  @media (min-width: 321px) {
    max-width: 30rem;
  }
  @media (min-width: 450px) {
    max-width: 35rem;
  }
  @media (min-width: 768px) {
    max-width: 25rem;
    cursor: default;
  }
  .slick-prev,
  .slick-next {
    color: $comp-dollars-card-slider-arrows;
  }
  .slick-prev:before,
  .slick-next:before {
    @extend .icon;
    @extend .icon-chevron;
    color: $comp-dollars-card-slider-arrows;
    opacity: 1;
  }
  .slick-prev {
    transform: rotate(180deg);
    top: 44%;
  }
  .slick-dots li button:before {
    font-size: 1.4rem;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $comp-dollars-card-slider-dots;
  }
  .slick-dots li button:hover:before {
    color: $comp-dollars-card-slider-dots;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 20px;
  }
}
.comp-dollar-slider-item {
  position: relative;
}
.comp-dollar-slider-item figure {
  margin: 0;
  position: relative;
  border-bottom: solid 8px $comp-dollars-card-slider-border;

  @media (min-width: 768px) {
    margin: 0 0 1rem;
  }
  img {
    width: 100%;
  }
  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: 700;
    color: $comp-dollars-card-slide-color;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 32%);

    div {
      width: 50%;
    }
    .slide-cta {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 1.3rem;
      opacity: 0;
      @media (min-width: 768px) {
        opacity: 1;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.dashboard-card__close-btn.js-set-initial {
  display: none;
}
.dashboard-card__close-btn.js-dashboard-card__toggle {
  display: block;
}
.dashboard-card-back-opt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  &.initial {
    text-align: center;
    display: none;
    height: 100%;
    .btn {
      margin-top: auto;
    }
  }
  &.verified {
    display: flex;
  }
}

.dashboard-card-wrapper {
  [data-visit='true'] {
    @extend .dashboard-card-flipped;
    .dashboard-card__close-btn.js-set-initial {
      display: block;
    }
    .dashboard-card__close-btn.js-dashboard-card__toggle {
      display: none;
    }
    .dashboard-card-back-opt.initial {
      display: flex;
    }
    .dashboard-card-back-opt.verified {
      display: none;
    }
  }
}
