.dashboard-hero-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 0;
  width: 100%;
  color: $dashboard-header-color;
  @media (min-width: 768px) {
    padding: 2.5rem 5rem;
    align-items: center;
  }
}
.dashboard-hero-header-greeting,
.dashboard-hero-header-qr {
  display: flex;
}
.dashboard-hero-header-greeting {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.dashboard-hero-header-qr {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}
.dashboard-hero-greeting-salutation {
  font-size: 1.4rem;
  text-transform: capitalize;
  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}
.dashboard-hero-greeting-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}
.dashboard-hero-qr-account_number {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  @media (min-width: 768px) {
    margin-top: 0;
    font-size: 1.9rem;
  }
}
.dashboard-hero-qr-toggle {
  margin-left: 2rem;
  height: 39px;
  width: 39px;
  background: url('../images/Icons-QR-Code.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  overflow: visible;
}
.dashboard-hero-modal-container {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.dashboard-hero-modal-container.show-modal {
  display: block;
  z-index: 20;
}

.dashboard-hero-modal {
  background-color: $dashboard-header-modal-background;
  border-radius: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100%;
  height: 100%;
  @media (min-width: 768px) {
    width: 70%;
    height: auto;
  }
}

.dashboard-hero-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 0;
  color: $dashboard-header-modal-header-color;
  text-align: center;
  background: $dashboard-header-modal-header-bg;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  .dashboard-hero-modal-first_name {
    margin-bottom: 1rem;
  }
  .dashboard-hero-modal-last_name {
    margin-bottom: 2rem;
  }
}

.dashboard-hero-modal-header-close {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  top: 2rem;
  right: 2rem;
  border: none;
  background-color: transparent;
  overflow: visible;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 2rem;
    background-color: $dashboard-header-x-close;
    left: 0;
    z-index: 10;
    transform-origin: center;
  }
  &:before {
    top: 0.7rem;
    transform: rotate(45deg);
  }
  &:after {
    bottom: 0.8rem;
    transform: rotate(-45deg);
  }
}

.dashboard-hero-modal-body {
  padding: 0 0 6rem 0;
  color: $dashboard-header-modal-header-body;
  text-align: center;
}

.modal-body-qr {
  max-width: 40%;
  height: auto;
}

.modal-body-content {
  @extend .caption-1;
  padding: 0 2rem 2rem;
}
.modal-body-close {
  button {
    text-transform: uppercase;
  }
}
