.discover-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 5rem;
  background-color: $discover-bg;
  border-top: 8px solid $discover-border-top;
  @media (min-width: 769px) {
    padding: 3.2rem 3rem 9rem;
  }
}
.discover-tabs-headline {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  color: $discover-headline-color;
  @media (min-width: 769px) {
    margin-bottom: 4.5rem;
  }
}
.discover-tabs-wrapper {
  position: relative;
  padding: 0;
  background: $discover-wrapper-bg;
  overflow: hidden;

  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}
.discover-tabs-wrapper nav {
  box-shadow: $tabs-bar-shadow;
  position: relative;
  z-index: 10;
}
.discover-tabs-wrapper .nav-tabs {
  border-bottom: none;
  //justify-content: space-between;
  a.nav-item {
    padding: 3rem 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: $DarkGrey;
    border: none;
    transition: $MainTransition;
    &:hover {
      background: $tabs-hover-bg;
      color: $tabs-hover-color;
    }
    &.active {
      color: $tabs-active-color;
      border: none;
      box-shadow: inset 0 -1rem #8f6500;
      &:hover {
        color: $tabs-hover-color;
      }
    }
    @media (min-width: 768px) {
      font-size: 1.5rem;
      padding: 3rem 2.5rem;
    }
    @media (min-width: 768px) {
      font-size: 1.8rem;
      padding: 3rem 5rem;
    }
  }
  @media (min-width: 768px) {
    justify-content: unset;
  }
}
.tab-content-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  padding: 2rem 3rem 1rem;
  @media (min-width: 769px) {
    padding: 2rem 4rem 2rem;
  }
}

.tab-content-card {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(50% - 1.2rem);
  }
}

.tab-content-card figure {
  position: relative;
  width: 100%;
  border-bottom: solid 8px $discover-border-bottom;
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: 700;
    color: $discover-card-description-color;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 32%);

    div {
      width: 50%;
    }
    .slide-cta {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 1.3rem;
      opacity: 0;
      @media (min-width: 768px) {
        opacity: 1;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
