.dashboard-hero {
  padding: 0 1.5rem 3rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  @media (min-width: 769px) {
    padding: 0 0 3rem;
  }
  .container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

/* SITECORE EXPERIENCE EDITOR */
.dashboard-card-wrapper.scEnabledChrome {
  display: block !important;
  .dashboard-card {
    display: inline-block !important;
    width: 32%;
    &:first-child {
      margin-right: 0.5%;
    }
    &:last-child {
      margin-left: 0.5%;
    }
  }
}
