.dashboard-card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  position: relative;
  margin-bottom: 3rem;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0.999px -0.052px 13px 0 rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;
  transition: $MainTransition;
  background: $dashboard-card-bg;

  @media (min-width: 768px) {
    &:first-child {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
    }
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 1.2rem);
  }
  @media (min-width: 1024px) {
    &:first-child {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(33% - 2.4rem);
    }
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33% - 1.2rem);
  }
  label {
    display: block;
  }
}

.dashboard-card__info-btn {
  display: block;
  position: absolute;
  right: 1.2rem;
  top: 0.9rem;
  width: 2.4rem;
  height: 2.4rem;
  background: $dashboard-card-icon-bg;
  border-radius: 50%;
  cursor: pointer;
  &:after {
    content: '';
    background: url('../images/info.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.4rem;
    height: 100%;
    width: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.dashboard-card__close-btn {
  display: block;
  position: absolute;
  right: 1.4rem;
  top: 1.2rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 1.6rem;
    background-color: $dashboard-card-back-x-close;
    left: 0;
    z-index: 10;
    transform-origin: center;
  }
  &:before {
    top: 0.7rem;
    transform: rotate(45deg);
  }
  &:after {
    bottom: 0.8rem;
    transform: rotate(-45deg);
  }
}

.dashboard-card.dashboard-card-flipped {
  transform: rotatey(-180deg);
  transition: all 0.3s ease;
}

.dashboard-card-front,
.dashboard-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  opacity: 1;
  transition: all 0.6s ease;
  backface-visibility: hidden;
  background: $dashboard-card-bg;
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
  }
}
.dashboard-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  border: solid 8px $dashboard-card-back-border;
  transition: all 0.3s ease;
  transform: rotatey(-180deg);
  h3 {
    line-height: 1.1;
    width: 90%;
  }
}

.dashboard-card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (min-width: 768px) {
    overflow-y: auto;
  }
}
.dashboard-card-flipped {
  background: unset;
}
.dashboard-card-flipped .dashboard-card-front {
  opacity: 0;
}

.dashboard-card-flipped .dashboard-card-back {
  opacity: 1;
  transition: all 0.6s ease;
  backface-visibility: visible;
}
