.free-play-rewards-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  align-items: center;
  text-align: center;
}
h3.free-play-rewards-card-title {
  margin: 1rem 0 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.free-play-rewards-card-subtitle,
.free-play-rewards-earnings-date {
  font-weight: 400;
  font-size: 1.8rem;
}

.free-play-rewards-content-balance,
.free-play-rewards-earnings {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.free-play-rewards-content-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.7rem 0 3.3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $free-play-card-divider-line;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
  }
}
.free-play-rewards-balance,
.free-play-rewards-earnings-recent {
  position: relative;
  margin-left: -1rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  color: $free-play-card-balance;
  sup {
    font-size: 57%;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.free-play-rewards-earnings-recent {
  margin-bottom: 0;
}
.free-play-rewards-balance-time,
.free-play-rewards-earnings-reference {
  padding: 0 0 0.5rem 1rem;
  width: 40%;
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
}
.free-play-rewards-balance-time {
  width: 85%;
  border: 2px solid $PrimaryBlack-20;
  padding: 1rem 2rem;
  @media (min-width: 768px) {
    width: 40%;
    border: none;
    padding: 0 0 0.5rem 1rem;
  }
  i {
    color: $Secondary;
    margin-right: 0.5rem;
    @media (min-width: 768px) {
      position: absolute;
      top: -2rem;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: -3.3rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $PrimaryBlack-20;
  }
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2.9rem;
    right: 50%;
    transform: translate(50%, 0);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $White;
  }
  @media (min-width: 768px) {
    &:before,
    &:after {
      display: none;
    }
  }
}
.free-play-rewards-earnings {
  //justify-content: unset;
  width: 90%;
  @media (max-width: 767px) {
    margin-bottom: 2.8rem;
  }
}
.free-play-rewards-earnings-date {
  width: 80%;
  margin-bottom: 1.8rem;
}

.free-play-rewards-earnings-reference {
  width: 50%;
  &:before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -2.5rem;
    left: 1rem;
    background: url('../images/info.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.4rem;
    background-color: $free-play-card-icon-bg;
    border-radius: 50%;
  }
  &.available {
    &:before {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      top: -2.5rem;
      left: 1rem;
      background: url('../images/Icons - Check.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
.free-play-rewards-earnings-content {
  margin: 0 0 4rem;
  @media (min-width: 768px) {
    margin: 0 0 0;
  }
}
.free-play-details {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  transition: $MainTransition;
  width: 100%;
  &.open {
    bottom: 0;

    .free-play-details-drawer {
      min-height: 35rem;
      max-height: unset;
      margin-bottom: 4.2rem;
      padding: 2rem 0;
      overflow-y: scroll;
    }
    .free-play-details-view {
      &:after {
        top: 0.75rem;
        transform: rotate(180deg);
      }
    }
  }
}
.free-play-details-view {
  @extend .btn;
  position: relative;
  border: none;
  background: $Primary;
  color: $White;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background: $Primary-80;
    background-color: $Primary-80;
    border: none;
  }
  &:after {
    content: '\E005';
    @extend .icon:before;
    position: absolute;
    font-size: 1rem;
    font-weight: 100;
    right: 2rem;
    top: 1rem;
    color: $White;
  }
}
.free-play-details-drawer {
  background: $White;
  max-height: 0;
  min-height: unset;
  overflow: hidden;
  transition: $MainTransition;
}
.free-play-details-drawer .details-drawer-heading {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  color: $White;
  background: $PrimaryBlack-60;
}
.free-play-details-drawer .details-drawer-items .details-drawer-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  .details-drawer-item-value {
    font-size: 1.6rem;
  }
}
