.hero {
  padding-top: 9rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  color: $hero-description-color;
  @media (min-width: 769px) {
    padding-top: 16.5rem;
    padding-bottom: 16.5rem;
  }
}
.hero .container {
  padding: 0 1.5rem;
  @media (min-width: 769px) {
    padding: 0;
  }
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
  .btn {
    width: 100%;
    margin-top: 1.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
    .btn {
      width: unset;
      margin-top: 2rem;
    }
  }
}

.hero.homepage .hero-headline-greeting {
  max-width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0 1rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
    max-width: 50%;
    text-align: left;
    padding: 0;
  }
  @media (min-width: 1200px) {
    max-width: 44%;
  }
}
.hero-headline-greeting h1 {
  color: $hero-headline-color;
}
.hero.homepage .hero-headline-cta {
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 50%;
  }
  @media (min-width: 1200px) {
    max-width: 44%;
  }
}
.hero-cta-message-container {
  width: 100%;
  padding: 2rem;
  color: $hero-secondary-message-color;
  border-bottom: 4px solid $hero-secondary-message-border;
  background: $hero-secondary-message-background;

  @media (min-width: 768px) {
    padding: 3rem 4rem;
  }
  h5 {
    line-height: 3rem;
    margin-bottom: 0;
  }
}
.homepage {
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    max-width: 940px;
    margin: 0 auto;
    .btn {
      width: 100%;
      margin-top: 1.2rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    @media (min-width: 768px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-end;
      .btn {
        width: unset;
        margin-top: 2rem;
      }
    }
    @media (min-width: 1200px) {
      align-items: center;
    }
  }

  .hero-headline-greeting {
    max-width: 100%;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 1rem;
    @media (min-width: 768px) {
      margin-bottom: 0;
      max-width: 50%;
      text-align: left;
      padding: 0;
    }
    @media (min-width: 1200px) {
      max-width: 44%;
    }
  }
  .hero-headline-greeting h1 {
    color: $hero-headline-color;
    @media (min-width: 768px) {
      width: 100vw;
      max-width: 69rem;
      text-align: center;
      margin-bottom: 7rem;
      padding: 0 3rem;
    }
    @media (min-width: 1024px) {
      width: 100vw;
      max-width: 94rem;
      margin-bottom: 9rem;
    }
    @media (min-width: 1200px) {
      width: 100%;
      max-width: unset;
      margin-bottom: 2rem;
      text-align: left;
      padding: 0;
    }
  }
  .hero-headline-greeting p {
    max-width: 100%;
    @media (min-width: 768px) {
      max-width: 80%;
    }
    @media (min-width: 1200px) {
      max-width: 100%;
    }
  }
}
.hero.internal .hero-headline-greeting {
  max-width: 90%;
  margin-bottom: 0;
  text-align: center;
  @media (min-width: 768px) {
    max-width: 56%;
  }
}
.hero.internal .hero-cta-message-container {
  display: none;
}
.hero.internal .hero-wrapper {
  flex-direction: column;
}

.has-benefits.hero {
  margin-bottom: -5rem;
  @media (min-width: 769px) {
    margin-bottom: -16.5rem;
  }
}
.has-benefits.hero .hero-wrapper {
  margin-bottom: 5rem;
  @media (min-width: 769px) {
    margin-bottom: 11rem;
  }
}
