.navbar {
  @extend .container;
  background: transparent;
  padding: 2rem 2.4rem;
  @media (max-width: 768px) {
    max-width: unset;
  }
  @media (min-width: 768px) {
    padding: 0;
  }
  &.open {
    background: $header-open-background-color;
  }
}
.navbar a,
.navbar button,
.navbar {
  color: $DarkGrey;
}
.navbar.open a,
.navbar.open button,
.navbar.open {
  color: $White;
}

.mobile-logo {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}
.open {
  .mobile-logo {
    filter: invert(1);
  }
}
.desktop-logo {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
.navbar-brand {
  @media (min-width: 768px) {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
.navbar-brand img {
  width: 100%;
  height: auto;
  max-width: 169px;
}

.navbar-toggler {
  position: relative;
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border-color: $header-open-background-color;
  border-radius: 0;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: $White;
    left: 0;
    z-index: 10;
  }
  &:before {
    top: 10px;
    transform: rotate(45deg);
  }
  &:after {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  &[aria-expanded='false'] {
    width: 30px;
    background-color: $DarkGrey;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $White;
      left: 0;
      z-index: 10;
    }
    &:before {
      top: 5px;
      transform: none;
    }
    &:after {
      bottom: 5px;
      transform: none;
    }
  }
  &:focus {
    outline: none;
  }
}
.collapse.show {
  background-color: $header-open-background-color;
}
.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}
.nav-item {
  font-size: 1.6rem;
  padding: 2rem 0;
  @media (min-width: 768px) {
    padding: 3rem 1rem 2rem;
  }
  @media (min-width: 992px) {
    padding: 3rem 3rem 2rem;
  }
  .nav-link {
    font-weight: bold;
    border: none;
    background-color: transparent;
  }
  &:hover {
    box-shadow: inset 0 -1rem $link-color;
    .nav-link {
      color: $link-color;
    }
  }
  &.active {
    @media (min-width: 768px) {
      .nav-link {
        color: $link-color;
      }
      box-shadow: inset 0 -1rem $link-color;
    }
  }
}

.subnav-mobile {
  display: block;
  max-height: 0;
  overflow: hidden;
  background: $Black;
  transition: $MainTransition;
  padding: 0;
}
.subnav-mobile ul {
  list-style: none;
  li {
    padding: 1rem 0;
  }
}
.subnav-mobile a,
.subnav-mobile button {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar.open + .subnav-mobile {
  padding: 2.4rem;
  max-height: 100vh;
  background: $Black;
  color: white;
}
