.promotions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 5rem;
  background-color: $promotions-bg;
  border-top: 8px solid $promotions-border-top;
  @media (min-width: 769px) {
    padding: 4.2rem 3rem 9rem;
  }
}
.promotions-header {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  color: $promotions-headline-color;
  @media (min-width: 769px) {
    margin-bottom: 4.5rem;
  }
}
.promotions-wrapper {
  background: $promotions-wrapper-bg;
  padding: 1.5rem;
  @media (min-width: 450px) {
    padding: 3rem;
  }
  @media (min-width: 769px) {
    padding: 4rem 6rem;
  }
}
.promotions-slider {
  display: flex;
  flex-wrap: wrap;
  background-color: $promotions-slider-bg;
  .slick-prev,
  .slick-next {
    color: $promotions-slider-arrows;
  }
  .slick-prev:before,
  .slick-next:before {
    @extend .icon;
    @extend .icon-chevron;
    color: $promotions-slider-arrows;
    opacity: 1;
  }
  .slick-prev {
    @media (max-width: 450px) {
      left: -15px;
    }
  }
  .slick-next {
    @media (max-width: 450px) {
      right: -15px;
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    top: 48%;
  }
  .slick-dots {
    bottom: -4rem;
  }
  .slick-dots li button:before {
    font-size: 1.4rem;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $promotions-slider-dots;
  }
  .slick-dots li button:hover:before {
    color: $promotions-slider-dots;
  }
}

.promotions-item {
  padding: 0 0.7rem;
  height: 480px;
}

.promo-item-image {
  height: 17rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  img {
    width: auto;
    height: auto;
    object-fit: cover;
    @media (min-width: 450px) {
      width: 100%;
    }
  }
}

.promotions-item-content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem 1.5rem;
  width: 100%;
  height: 64%;
  background-color: $promotion-slider-item-bg;
  border-bottom: 8px solid $promotions-slider-item-border;
  overflow-y: scroll;
  @media (min-width: 450px) {
    padding: 1.5rem 1.2rem 3rem;
  }
  .btn {
    max-width: 20rem;
    align-self: center;
    margin-top: auto;
  }
}
.promotion-item-headline {
  font-size: 2.1rem;
  font-weight: 700;
}
.promotion-date,
.promotion-location {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 2rem;
  &:before {
    position: absolute;
    margin-right: 0.5rem;
    font-size: 1.4rem;
    color: $promotions-slider-item-icons;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
}
.promotion-date {
  &:before {
    @extend .icon;
    @extend .icon-clock;
  }
}
.promotion-location {
  margin-bottom: 0.5rem;
  @media (min-width: 450px) {
    margin-bottom: 2rem;
  }
  &:before {
    @extend .icon;
    @extend .icon-place;
  }
}
.promotion-description {
  @media (max-width: 450px) {
    margin-bottom: 2rem;
  }
}
