.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.profile-card {
  background: $profile-card-bg;
  width: 100%;
  max-width: 76rem;
  min-height: 60rem;
}
.profile-card-headline {
  text-align: center;
  padding: 4rem 3.5rem 0;
}
.profile-card-peronal-information {
  padding: 0 3.5rem;
  border-bottom: 2rem solid $profile-personal-info-border;
  h3 {
    text-align: center;
    margin-bottom: 3rem;
    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }
  }
}
.profile-card-communication-preferences {
  padding: 4.5rem 3.5rem 2rem;

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    margin: 0 auto 6rem;
    text-align: center;
    max-width: 40rem;
  }
}
.peronal-information-form,
.communication-preferences-form {
  display: flex;
  flex-flow: row wrap;
}
.peronal-information-form-input,
.communication-preferences-form-input {
  margin: 0;
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
    margin: 0;
  }
  label {
    display: block;
    font-size: 1.3rem;
  }
  textarea {
    &[readonly] {
      text-align: left;
      align-items: flex-start;
      resize: none;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.04em;
      border: none;
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
      &:focus {
        outline: none;
      }
    }
    &[name='home-address'],
    &[name='alt-address'] {
      margin-bottom: 2.4rem;
      @media (min-width: 768px) {
        margin-bottom: 2.7rem;
      }
    }
    &[value=' '],
    &[value=''] {
      margin-bottom: 2rem;
      height: 0;
      @media (min-width: 768px) {
        //margin-bottom: 2.4rem;
        height: unset;
      }
    }
  }

  p {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: -1rem;
  }
}

.peronal-information-form-input {
  &:last-child {
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 1rem;
    }
  }
  &:nth-last-child(2) {
    margin-bottom: 0;
    @media (min-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}

.communication-preferences-form-input {
  position: relative;
  margin: 0 0 3rem;
  cursor: default;
  input {
    position: absolute;
    opacity: 0;
    cursor: default;
    transform: translate(-50%, -50%);
    left: 0;
    top: 60%;
    &:checked + label:before {
      background-color: $profile-comm-pref-checkbox;
    }
  }
}
.communication-preferences-form-input label {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  padding-left: 2.5rem;
  pointer-events: none;
  max-width: 85%;
  &:before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    height: 2rem;
    width: 2rem;
    transform: translate(-50%, -50%);
    border: 2px solid $profile-comm-pref-border;
    border-radius: 0;
    background-color: transparent;
    @media (min-width: 768px) {
      margin-bottom: 60%;
    }
    @media (min-width: 1200px) {
      top: 33.33%;
    }
  }
}
.profile-win-loss {
  padding: 5rem 3.5rem;
  background: $profile-win-loss-bg;
}
.profile-win-loss h2,
.profile-card-win-loss-statement {
  text-align: center;
}
