.status-summary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h3.status-summary-card-title {
    margin: 1rem 0 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
  }
  .status-summary-card-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
  }
}
.chart-bottom-segment {
  width: 20%;
  height: 3.8rem;
  background: $Status-summary-card-segment;
  border-right: 3px solid $Status-summary-card-segment-border;
  margin-bottom: 0.5rem;
}
.status-summary-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 22rem;
}
.status-summary-chart svg {
  width: 30rem;
  margin-bottom: -5.7rem;
  defs {
    linearGradient {
      stop {
        &:first-child {
          stop-color: $Status-summary-card-gradient-start;
        }
        stop-color: $Status-summary-card-gradient-finish;
      }
    }
  }
}
.status-summary-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.current-points {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 700;
  color: $Status-summary-card-current;
}
.current-points-statement {
  width: 120%;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
}
.status-summary-personalized {
  display: flex;
  align-items: center;
  width: 15%;
  margin-bottom: 1.5rem;
  text-align: right;
  font-weight: 700;
  font-size: 2.2rem;

  span {
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    border-left: 1px solid $Status-summary-card-segment-border;
  }
}
.status-summary-content {
  position: relative;
  max-width: 20rem;
  margin-bottom: 0;
  &:before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.6rem;
    left: -2.5rem;
    background: url('../images/Icons - Clock.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.status-summary-content .status-summary-goals {
  font-weight: 700;
}
