.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs-headline,
.tabs-subheadline {
  text-align: center;
  max-width: 60rem;
  padding: 0 3rem;
  @media (min-width: 768px) {
    padding: 0;
  }
}
.tabs-headline {
  font-size: 2.8rem;
  line-height: 3.6rem;
}
.tabs-subheadline {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.tabs-wrapper {
  position: relative;
  margin: 1.5rem auto 0;
  padding: 0;
  overflow: hidden;
  border: 0.2rem solid $homepage-tabs-wrapper-border;
  @media (min-width: 768px) {
    margin: 5rem auto 0;
  }
  @media (min-width: 1200px) {
    margin: 5rem auto;
  }
}
.tabs-wrapper nav {
  box-shadow: $tabs-bar-shadow;
  position: relative;
  z-index: 10;
}
.tabs-wrapper .nav-tabs {
  border-bottom: none;
  a.nav-item {
    padding: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: $DarkGrey;
    border: none;
    transition: $MainTransition;
    &:hover {
      background: $tabs-hover-bg;
      color: $tabs-hover-color;
    }
    &.active {
      color: $tabs-active-color;
      border: none;
      box-shadow: inset 0 -1rem $tabs-active-color;
      &:hover {
        color: $tabs-hover-color;
      }
    }
    @media (min-width: 768px) {
      font-size: 1.8rem;
      padding: 3rem 5rem;
    }
  }
}

.tab-content {
  width: 100%;
  background-color: $homepage-tabs-content-bg;
}
