.earn {
  padding: 4.5rem 2.2rem;
  @media (min-width: 768px) {
    padding: 6rem 4.5rem 5rem;
  }
  @media (min-width: 1200px) {
    padding: 8rem 4.5rem 5rem;
  }
}
.earn-header {
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
  @media (min-width: 1200px) {
    margin-bottom: 9rem;
  }

  h3 {
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      margin-bottom: 2rem;
    }
  }
}
.earn-tier-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3.5rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    align-items: center;
  }
}
.earn-tier-item-img {
  margin: 0 0 2rem;
  width: 100%;
  img {
    width: 100%;
  }
  @media (min-width: 768px) {
    margin: 0 2.7rem 0 0;
    width: auto;
    img {
      width: auto;
      max-width: 24rem;
    }
  }
}
// .earn-tier-item-content {
// }
.earn-tier-title {
  color: $earn-tier-title;
  margin-bottom: 1.2rem;
}
.earn-tier-range {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
  @media (min-width: 1200px) {
    margin-bottom: 1rem;
  }
}
.earn-tier-description {
  max-width: 100%;
  @media (min-width: 1200px) {
    max-width: 95%;
  }
}
.earn-tier-benefits-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  @media (min-width: 1200px) {
    flex-direction: row;
    margin-top: 8rem;
    margin-bottom: 5.5rem;
  }
}
.earn-tier-benefit {
  max-width: 100%;
  margin-bottom: 5rem;
  @media (min-width: 1200px) {
    max-width: 47%;
    margin-bottom: 0;
  }
}
.earn-cta-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .btn {
    text-transform: uppercase;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
