.redeem {
  padding: 4.5rem 2.2rem;
  @media (min-width: 768px) {
    padding: 6rem 4.5rem 5rem;
  }
  @media (min-width: 1200px) {
    padding: 8rem 4.5rem 5rem;
  }
}
.redeem-header {
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
  @media (min-width: 1200px) {
    margin-bottom: 6.5rem;
  }

  h3 {
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      margin-bottom: 2rem;
    }
  }
}
.redeem-offer-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3.5rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .redeem-offer-item-content {
        padding-left: 1.5rem;
      }
    }
  }
}
.redeem-offer-item-img {
  margin: 0 0 3rem;
  width: 100%;
  img {
    width: 100%;
  }
  @media (min-width: 768px) {
    margin: 0;
    width: 40%;
  }
  @media (min-width: 1200px) {
    width: 50%;
  }
}
.redeem-offer-item-content {
  padding-left: 0;
  width: 100%;
  @media (min-width: 768px) {
    padding-left: 2.5rem;
    width: 60%;
  }
  @media (min-width: 1200px) {
    padding-left: 3rem;
    width: 50%;
  }
}
.redeem-offer-title {
  margin-bottom: 1.2rem;
  line-height: 1.7rem;
  @media (min-width: 1200px) {
    line-height: 3.4rem;
  }
}

.redeem-offer-description {
  max-width: 100%;

  @media (min-width: 1200px) {
    max-width: 90%;
  }
}

.redeem-cta-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8rem 0 3rem;
  .btn {
    text-transform: uppercase;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
