{{#> layouts/default home }}

  {{#*inline "content"}}
    {{> components/alert-banner @root.alertBanner }}
    <section class="container">
      <ul class="content-ul">
        <li>
          <a href="styleguide.html">Styleguide</a>
        </li>
        <li>
          <a href="homepage.html">Homepage</a>
        </li>
        <li>
          <a href="benefits.html">Bennefits Page</a>
        </li>
        <li>
          <a href="activation.html">Activation Page</a>
        </li>
        <li>
          <a href="dash-board.html">Dashboard Page</a>
        </li>
        <li>
          <a href="content-rte.html">Content Component</a>
        </li>
        <li>
          <a href="react-offers.html">Offers &amp;
            Promotions Component</a>
        </li>
        <li>
          <a href="react-reservations.html">Reservations
            Component</a>
        </li>
      </ul>
    </section>
  {{/inline}}

  {{/layouts/default}}
